[Unit]
AssertPathExists=%h

[Service]
PrivateTmp=true
WorkingDirectory=/tmp
NoNewPrivileges=true
Restart=always
Environment="NM_DBUS_CONNECTION_ACTION_CONFIG=%h/.config/network_manager_connection_actionrc"
ExecStart=/usr/bin/network-manager-connection-action

[Install]
WantedBy=default.target
